* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    line-height: 1;
    list-style: none;
    quotes: none;
    content: '';
    content: none;
    border-collapse: collapse;
    border-spacing: 0;
  
}

body {
    text-align: center;
    padding-top: 50px;
    display: flexbox;
    background-image: url("https://i.gifer.com/4A5.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-style: normal;
    color: rgb(139, 232, 255);
    padding:40px;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

button { 
  text-align: center;
  border: none;
  color: white;
  padding: 10px 22px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  display: flexbox;
}

#clock {
    padding: 70px;
    font-size: larger;
    color: white;
    
}


#resetButton {
    background-color: #6efd6e;

    
}

#startButton {
    background-color: #f3e777;
    

}